body {
    text-align: center;
    background-color: steelblue;
}
h1 {
    font-family: AppleGothic;
    font-size: 40px;
    font-style: normal;
    color: black;
}
h2 {
    font-family: AppleGothic;
    font-size: 25px;
    font-style: italic;
    color: black;
}
form {
    text-align: center;
    text-justify: auto;
}
button {
    align-items: center;
}
